/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Initialization */

*, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, a, p, h1, h2, h3, h4, h5, h6, ul, li{
    color: #fff;
    font-family: 'Ubuntu', Arial, sans-serif;
    list-style-type: none;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

body::-webkit-scrollbar-track {
    background: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 30px;
}

::-moz-selection{
    color: #ccc;
    background-color: #050505;
}

::selection{
    color: #ccc;
    background-color: #050505;
}

/* Page CSS */

body{
    background-color: #333;
    width: calc(100vw - 10px);
}

h2{
    padding-bottom: 30px;

    font-size: 35px;
    font-weight: 200;
}

h2 strong{
    font-weight: 800;
}


#page-block{
    width: 1100px;
    margin: auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    text-align: center;
}

section{
    margin-top: 100px;
}


/* nav */
nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: fixed;
    top: 0px;
    z-index: 20;

    width: 100%;
    left: 50%;  

    -webkit-transform: translateX(-49.9%);  

        -ms-transform: translateX(-49.9%);  

            transform: translateX(-49.9%); 

    background-color: #f1f1f1;
    color: #333;
}

nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav li{
    padding: 25px;
}

nav li a{
    color: #333;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: color 0.2 ease-out;
    -o-transition: color 0.2 ease-out;
    transition: color 0.2 ease-out;
}

nav li a:hover, nav a.marked{
    color: #1189cf;
    font-weight: 600;
}


nav.on-home{
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background-color: transparent;
}

nav.on-home a{
    color: #fff;
}

nav.on-home li a:hover, nav.on-home a.marked{
    color: #1189cf;
    font-weight: 600;
}


/* home */

#home{
    width: calc(100vw - 10px);
    position: relative;
}

#home-background{
    position: relative;
    
    height: 100vh;
    width: calc(100vw - 10px);

    background: url("../images/home-background.jpg");

    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    z-index: 11;
}

#home-background h1{
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;

    font-size: 60px;
    font-weight: 100;

    color: #333;
}

#home-background h1 strong{
    font-size: 70px;
    font-weight: 900;
}

section#home{
    margin-top: 0px;
}

/* resume */
#resume-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

section#resume h3{
    font-size: 25px;
    font-weight: 200;
} 

.education, .experience{
    width: calc((100% - 50px) / 2);
}

.education-item, .experience-item{
    width: 100%;
    height: 200px;

    margin: 20px auto;
    padding: 25px;

    background-color: #222;
    border-radius: 20px;

    text-align: left;

    position: relative;

}

.education-item > *, .experience-item > *{
    padding-bottom: 7px;
}

div.date {
    display: block;
}

div.date p{
    display: inline;
    font-size: 16px;
}

span.school, span.company{
    position: absolute;
    bottom: 11px;
}

.education-item h4, .experience-item h4{
    font-size: 20px;
    font-weight: 600;

    color: #1189cf;
}

.education-item p, .experience-item p {
    font-size: 16px;
}


/* about */
/*me  */
#presentation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    text-align: left;
}

#text-container{
    width: 450px;
}

#text-container h2{
    padding-left: 40px;
}

#photo-container{
    width: 610px;
    height: 400px;
    
    background: url('../images/home-background.jpg');
    border-radius: 20px;
}

#text-container p{
    padding: 40px;
    padding-top: 0px;

    font-size: 18px;

    line-height: 25px;
}

#about-links{
    padding-left: 30px;
    
    text-align: center;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.about-button{
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;

    font-size: 15px;

    color: #111;
    text-transform: uppercase;
    background-color: #ccc;

    border-radius: 20px;
}

#contact-me{
    color: #fff;
    background-color: #1189cf;
}

/*skills  */
#skills{
    margin-top: 50px;
}

#skills h3{
    font-size: 25px;
    font-weight: 200;

    margin-bottom: 20px;
} 

#skills-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 20px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.softwares-items, .programming-languages-items, .languages-items{
    width: 300px;
    height: 275px;

    margin-top: 20px;
    padding: 20px;

    background-color: #222;
    border-radius: 20px;

    font-size:  0.9rem;
}

.softwares-item, .programming-languages-item, .languages-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;

    padding: 10px;
}

.programming-languages-item{
    padding: 20px;
}

.languages-item{
    padding: 25px;
}

.softwares-item p, .programming-languages-item p, .languages-item p{
    margin-right: 10px;

}

.skill-indicator{
    margin-right: 0px;
    font-size: 0.95rem;  
}

.skill-level{
    color: #1189cf;
    font-size: 0.95rem;
}

/* contact */

/*contact me  */
#contact-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 20px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

section#contact h3{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 200;
}

#get-in-touch{
    text-align: left;
}



#form-container{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;

    width: 700px;
}

#contact-form, .form-item{
    width: 100%;
}

.form-item{
    padding: 20px 0px;
    position: relative;
}

#form-container label{
    position: absolute;
    
    z-index: 2;

    color: #aaa;
    font-weight: 400;

    -webkit-transform: translateY(50%);

        -ms-transform: translateY(50%);

            transform: translateY(50%); 

    -webkit-transition: 0.4s ease; 

    -o-transition: 0.4s ease; 

    transition: 0.4s ease;
}


.form-item input, .form-item textarea{
    display: block;
    width: 100%;

    color: #fff;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, sans-serif;

    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;

    border-bottom: 2px solid #aaa;

    -webkit-transition: border 0.4s ease-out;

    -o-transition: border 0.4s ease-out;

    transition: border 0.4s ease-out;
}

.form-item textarea#message{
    height: 45px;
    max-height: 600px;

    resize: none;
}

.form-item textarea#message::-webkit-scrollbar{
    width: 0px;
}


.form-item:nth-child(5){
    margin-bottom: 20px;
}

.form-item .submit-button{
    display: block;

    width: auto;
    
    padding: 15px 60px;

    background-color: #1189cf;
    
    border: none;
    border-radius: 999px;


    color: #fff;
    text-transform: uppercase;
    font-size: 14px;

    cursor: pointer;
}

/*contact details  */

#contact-details{
    text-align: left;
}

#contact-details-container div{
    display: inline;
}

#contact-details-container > * > *{
    padding: 10px 0px;
}

#contact-details-container > * > * > * >*{
    padding: 5px 0px;
}

#contact-details h5{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;

    color: #1189cf;

}



/* Footer */
footer{
    height: 100px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

footer a{
    padding-left: 4px;
    text-decoration: none;
    color: #1189cf;
}

/*animation  */

#form-container .form-item:focus-within label,
#form-container .form-item.animation label{
    top: 0px;
    -webkit-transform: translateY(-1%);
        -ms-transform: translateY(-1%);
            transform: translateY(-1%);
    color: #1189cf;
}

#form-container .form-item:focus-within input,
#form-container .form-item.animation input,
#form-container .form-item:focus-within textarea,
#form-container .form-item.animation textarea{
    border-color: #1189cf;
}

body #form-container .form-item.invalid input,
body #form-container .form-item.invalid textarea{
    border-color: #cf2d11;
}

body #form-container .form-item.invalid label{
    color: #cf2d11;
}

/* top button */
.top-btn{
    width: 20px;
    height: 20px;

    z-index: 111;

    position: fixed;
    right: 20px;
    bottom: 25px;
    cursor: pointer;
}


/* little computer screen */
@media screen and (max-width: 1100px) and (orientation: landscape) {
    #page-block{
        width: 800px;
    }
    .experience-item, .education-item{
        height: 250px;
    }

    #photo-container{
        height: 450px;
    }

    #about-links{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: colum;
                flex-direction: colum;
    }


    #skills-container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .languages{
        margin: auto;
    }

    #form-container{
        width: 500px;
    }
}


/* phone */
@media screen and (orientation: portrait){

    body{
        width: 100vw;
    }

    /* nav */
    nav li{
        padding: 45px 30px;
    }

    nav li a{
        font-size: 40px;
    }

    h2{
        font-size: 70px;
    }

    body #page-block h3{
        font-size: 50px;
    }

    html body #page-block{
        width: 100vw;
        margin: auto;
    }
    /* home */

    #home-background{
        width: 100vw;
        height: 100vh;
    }

    #home-background h1{
        width: 90%;

        font-size: 110px;
    }

    #home-background h1 strong{
        font-size: 120px;
    }

    /* resume */

    #resume-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }


    .education-item, .experience-item{
        width: 900px;
        height: 450px;

    }

    .education, .experience{
        width: auto;
        margin-top: 40px;
    }
    
    div.date p{
        font-size: 30px;
        margin-left: 5px;
    }
    
    .education-item h4, .experience-item h4{
        font-size: 40px;
    }
    
    .education-item p, .experience-item p {
        font-size: 39px;
    }

    span.school, span.company{
        font-size: 25px;
    }

    /* about */
    #presentation{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    #text-container{
        padding-bottom: 100px;
        width: 900px;
    } 

    #text-container h2{ 
        padding: 20px 0px;
    }

    #text-container p{
        font-size: 35px;
        line-height: 55px;
        
        padding: 0px;
        padding-bottom: 30px;
    }

    #text-container a{
        font-size: 35px;
        border-radius: 999px;
        padding: 20px 40px;
    }

    #about-links{
        padding: 0px;
        margin-top: 20px;
    }

    a#contact-me{
        margin-left: 0px;
    }

    #photo-container{
        width: 900px;
    }

    #skills-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #skills-container h4{
        font-size: 40px;
        padding: 10px;
        margin-top: 20px;
    }

    .softwares-items, .programming-languages-items, .languages-items{
        width: 900px;
        height: auto;
    }

    .softwares-item, .programming-languages-item, .languages-item{
        font-size: 35px;
        padding: 20px;
    }

    .skill-indicator, .skill-level{
        font-size: 35px;
    }


    /* contact */

    #contact-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #form-container{
        width: 900px;
        height: auto;
    }

    .form-item label, .form-item label{
        font-size: 35px;
    }

    .form-item input, .form-item textarea{
        font-size: 35px;
        height: 65px;
        margin-top: 9px;
    }

    .form-item textarea#message{
        height: 65px;
        margin-top: 12px;
    }


    .form-item .submit-button{
        font-size: 30px;
        border-radius: 999px;

    }

    #contact-details-container{
        width: 900px;
        height: auto;

        margin-bottom: 50px;
    }
    
    #contact-details h5{
        font-size: 40px;
    
    }
    #contact-details p{
        font-size: 35px;
    
    }

    #contact-details-container > * > *{
        padding: 10px 0px;
    }
    
    #contact-details-container > * > * > * >*{
        padding: 10px 10px;
    }

    #contact-details-container div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    /* top button */
    .top-btn{
        width: 50px;
        height: 50px;

        right: 30px;
        bottom: 35px;
    }


    /* footer */

    footer{
        margin-top: 20px;
        position: relative;
    }

    footer p{
        font-size: 25px;
        line-height: 35px;
    }

    footer a{
        font-size: 25px;
        padding: none;

        position: absolute;
        left: 53%;
        bottom: 16px;

    }
}